 body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;   /* horizontal center */
        align-items: center;       /* vertical center */
        background: #0aa5ff;       /* optional background */
    }

    img {
        max-width: 90%;
        height: auto;
    }